<h3>Login Form</h3>

<form  name="login" ng-submit="submit(login.$valid)" novalidate="novalidate">
 
<input type="text" name="uid" placeholder="userid" ng-model="login.userid" required>

<span ng-show="login.uid.$touched && login.uid.$error.required">Enter Correct userid</span> <br>
<input type="text" name="pwd" placeholder="password" ng-model="login.password" pattern="[a-z]{2,5}[0-9]{2}">
<span ng-show="login.pwd.$touched && login.pwd.$error.pattern">Invalid password (2-5 characters and 2 numbers)</span>
<br>
<button type="submit">Login</button>

</form>